* {
    margin: 0;
    padding: 0;
}

body {
    background: #eaeaea;
    font-size: 11.5pt;
    color: #5A6466;
}

body,input {
    font-family: serif;
}

#footer {
    padding: 10px 0 10px 0;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(255,255,255,0.7);
    color: #587477;
}



#header {
    height: 60px;
    padding: 30px;
    position: relative;
}



#logo {
    position: absolute;
    top: 30px;
    left: 40px;
    height: 60px;

}

#loader {
    position: absolute;
    top: 300px;
    left: 215px;
    height: 66px;
    visibility: hidden;
}

.quantity-selector-hidden {
        visibility: hidden;
        display: none;
}


#logo-img {
    position: absolute;
    top: 10px;
    right: 10px;
    height:70px;
}

#logo-img img {
    height: 60px;
}

#logo h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 3em;
}



#page {
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: #4d4f60;
    width: 1020px;
    color: #eee;
}


#wrapper {
    width: 1020px;
    position: relative;
    background: #FFF;
    margin: 0 auto 0 auto;
    box-shadow: 0px 0px 150px 0px rgba(0,0,0,0.15);
    border: solid 1px #82A7AD;
    border-top: 0;
}

#menu {
    width: 1000px;
    padding-top: 3px; padding-right: 10px; padding-bottom: 3px; padding-left: 10px;
    text-align: left;
    font-size: 16px;
    background-color: #444;
    color: #c1d5d4;
}

#export_date {
    color: #eee;
}


#menu a {
    float: right;
    text-decoration: none;
    color: #c1d5d4;
    padding-right: 10px;
}


.output-header-panel {
    height:20px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: #C1D5D4 solid 1px;
}


.output-item-container {    
    /*
    background-color: #e2e5fe;
    color: #0d1b0b;
    border: #666 solid 2px;
    padding: 0px 0px 1px 3px;   
    */
    background-color: #92a5ba;
    color: #111;
    border: #666 solid 2px;
    padding: 0px 3px 2px 3px; 

    
}



.output-item-container .field-input{
    background-color: #adfffd;  
    width: 40px;
}

.output-item-container .subfield-input{
    background-color: #adfffd;  
    width: 20px;
}


.output-panel .output-text-area {
    height: 500px;
    width: 490px;
    margin: 5px; 
}


.output-separator {
    width: 20px;
}

#output-panel {
    position: relative;
    float: left;
    width: 499px;
    border-left: #c1d5d4 solid 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 0 0 0;
}

textarea {
    background: #def;
    color: #000;   
}


#input-panel {
    position: relative;
    float: left;
    width: 500px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 0 0 0;
}


.base-chooser {
    height:20px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: #C1D5D4 solid 1px;
}



select {
    font-size: 12px;
    margin: 0 2px 0 2px;
    padding: 0px;  
    border-width: 1px;
    height: 18px;    
}
.input-condition-container {
    /*background-color: #e2e5fe;*/
    background-color: #92a5ba;
    color: #111;
    border: #666 solid 2px;
    padding: 0px 3px 2px 3px; 
    width:490px;
}


input {
    margin: 0 2px 0 2px;
    padding: 0px;  
    border-width: 1px;
    height: 15px;
}

.input-condition-container .field-input{
    background-color: #adfffd;  
    width: 30px;
}

.input-condition-container .subfield-input{
    background-color: #adfffd;  
    width: 15px;
}


.input-condition-container .expression-input {
    width: 100%;
}

.input-condition-container .expression-cf-input {
    width: 100%;
}

.no-expression-container {    
    padding-top: 0px;
    float: left;
}

.expression-container {
    padding-top: 1px;
    display: block;
    overflow: hidden;
}


.input-condition-container .range-input {
    width: 25px;
}

.image-button16 {
      height: 16px;
      width: 16px;     
      background-repeat: no-repeat;
      vertical-align: middle;
      display: inline-block;   
}

.image-button24 {
      height: 24px;
      width: 24px;
      margin-right: 5px;
      background-repeat: no-repeat;
      vertical-align: middle;
      display: inline-block;   
}

.image-button22 {
      height: 22px;
      width: 22px;
      margin-right: 5px;
      background-repeat: no-repeat;
      vertical-align: middle;
      display: inline-block;   
}


.download-button {
      float:right;
      background-image: url(download-icon.png);      
}

.csv-button {
      margin-left: 10px;
      background-image: url(csv-icon.png);      
}


.remove-button {
      margin-right: 5px;
      background-image: url(delete-icon.png);
}


.input-condition-container .value-type-button {
     margin-top:1px;
     float:right;
     background-image: url(right_arrow-icon.png);
}

.input-condition-container .list-type-button {
    margin-top:1px;
    float:right; 
    background-image: url(down_arrow-icon.png);
}


.add-df-button {
     background-image: url(add-icon.png);
}

.add-cf-button {
     margin-left: 5px;
     background-image: url(control_add-icon.png);
}

.search-button {
     background-image: url(find-icon.png);
     float: right;     
      height: 32px;
      width: 32px;
      margin-right: 5px;
      background-repeat: no-repeat;
      vertical-align: middle;
      display: inline-block;        
}

.create-export-button {
      background-image: url(new_export-icon.png);
      float: right;     
      height: 22px;
      width: 22px;
      margin-right: 5px;
      background-repeat: no-repeat;
      vertical-align: middle;
      display: inline-block;        
}

.import-button {
      background-image: url(import-icon.png);
      height: 24px;
      width: 24px;
      margin-right: 5px;
      margin-left: 5px;
      vertical-align: middle;
      display: inline-block;        
}

.show-json-button {
      background-image: url(show_json-icon.png);
      height: 24px;
      width: 24px;
      margin-right: 5px;
      vertical-align: middle;
      display: inline-block;        
}


.dollar-icon {
     background-image: url(dollar-icon.png);
}

.add-output-button {
     background-image: url(add-icon.png);
}

.input-condition-container .input-text-area {
    height: 150px;
    width: 475px;
    margin: 5px; 
}

.input-condition-container .input-text-area-hidden {
    display: none;
}


.input-controll-panel {
    margin-top: 5px;
}

.output-controll-panel {
    margin-top: 5px;
}



.output-footer-panel .result-counter {
    color: #fff;
    font-weight: bold;
}























  .modal-dialog-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #FFF;
  }

  .modal-dialog {
    position: absolute;
    top: 0px;
    left: 0px;
    /*width: 300px;*/
    background-color: #AAF;
    border: 2px solid #99c0ff;
  }

  .modal-dialog-title {
    position:relative;
    background: #C3D9FF;
    padding: 4px;
    font: bold 11px verdana;
    cursor: default;
  }

  .modal-dialog-content {
    background: #E8EEF7;
    padding: 12px 18px 12px 18px;  font: normal 12px verdana;
    font: normal 12px verdana;
  }

  .modal-dialog-userInput {
    font: normal 12px verdana;
    width: 90%;
  }

  .modal-dialog-buttons {
    background: #E8EEF7;
    padding: 4px;
    font: normal 12px verdana;
    text-align: right;
  }

  .modal-dialog-buttons button {
    margin: 5px;
  }